body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  background-color: rgba(0, 255, 255, 0.473);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;

  background-color: rgba(0, 255, 255, 0.473);
  border-radius: 5px;
  margin: 5px;
}

.description {
  white-space: pre-wrap;
}

/* .col-sm-8 {
  background-color: #06aed5;
  border-radius: 5px;
} */
/* .time-block {
  border-radius: 15px;
} */

/* .row {
  border-color: aliceblue; 
  border-top: 1px solid white; 
  border-radius: 15px;
  margin: 0.2px; 
}  */

.hour {
margin:2px;
border-radius: 5%;
}

.past {
  background-color: #d3d3d3;
  color: rgb(3, 0, 0);
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-radius: 5px;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  background-color: #06aed5;
  color: white;
  width: 100%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
